<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
    <li><%= link_to "Edytuj", edit_article_path(@article) %></li>
    <li><%= link_to "Usuń wpis", article_path(@article),
                    method: :delete,
                    data: { confirm: "Czy aby na pewni?" } %></li>
</ul>

<h2>Komentarze</h2>
<%= @article.comments.each do |comment| %>
    <p>
        <strong>Komentujący:</<strong>
        <%=  comment.commenter %>
    </p>

    <p>
        <strong>Komenarz:</strong>
        <%= comment.body %>
    </p>
<% end %>


<h2>Dodaj komentarz:</<h2>
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
        <p>
            <%= form.label :commenter %><br>
            <%= form.text_field :commenter %>
        </p>
        <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
        </p>
        <p>
            <%= form.submit %>
        </p>
    <% end %>
